*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    background: white;
    width: 100%;
    height: 100vh;
    animation: dayToNight 10s infinite 1.5s;
}
.sun{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #fcd25b;

}
.moon{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: white;
    animation: moveshadow 10s infinite 1.5s;
}
@keyframes moveshadow {
    0%{
        transform: translateX(175px);
        background: white;
    }
    50%{
        transform: translateX(0);
        background: black;
        box-shadow: 0 0 80px 50px #fcdc00;

    }
    100%{
        transform: translateX(-175px);
        background: white;
    }
}
@keyframes dayToNight {
    0%{
        background: white;
    }
    25%{
        background: rgba(0, 0, 0, 0.4);
    }
    50%{
        background: black;
    }
    75%{
        background: rgba(0, 0, 0, 0.6);

    }
    100%{
        background: white;
    }
    
}
